node_modules
yarn.lock

#Hardhat files
cache
artifacts
deployments
typechain
coverage
coverage.json

.idea
.hardhat
secrets.ts
.openzeppelin
.tenderly
arguments-*.js
sh
tmp
settings.ts
token_addresses.txt
core_addresses.txt
tool_addresses.txt
.env
docs
